:root {
  --main-font-family: "Roboto", sans-serif;
  --main-font-button: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--main-font-family);
  font-size: 72px;
  font-weight: bold;
}

p {
  font-family: var(--main-font-family);
  font-size: 18px;
}

body {
  background-color: black;
}

.hero {
  background-color: black;
  color: white;
  text-align: center;
  filter: grayscale(100%);
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/213/original/IMG_0772_1.jpg?1688482603");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  letter-spacing: 7.2px;
  text-shadow: 10px 2px 4px rgb(9, 9, 9);
  background: transparent;
}
.hero h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 10px;
  text-shadow: 4px 1px 1px rgb(9, 9, 9);
  background: transparent;
}

.hero p {
  font-family: var(--main-font-family);
  font-size: 18px;
  text-shadow: 2px 1px 1px rgb(9, 9, 9);
  background: transparent;
}

.hero a {
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 14px;
  letter-spacing: 5px;
  font-family: var(--main-font-button);
  font-weight: bold;
  border-color: transparent;
}

.hero a:hover {
  background: black;
  color: white;
  border-color: white;
}

.primary-ctn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  margin: 276px 422px 276px 422px;
}

.img-card {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  width: 1152px;
  height: 280px;
  filter: grayscale(100%);
}

.img-left {
  display: flex;
  flex-direction: row;
  width: 329px;
  height: 280px;
  object-fit: cover;
  object-position: 25% 25%;
}
.img-center {
  display: flex;
  flex-direction: row;
  width: 442px;
  height: 280px;
  object-fit: cover;
  object-position: center;
}
.img-right {
  display: flex;
  flex-direction: row;
  width: 301px;
  height: 280px;
  object-fit: cover;
  object-position: 0% 40%;
}

.img-left-secondr {
  display: flex;
  flex-direction: row;
  width: 330px;
  height: 280px;
  object-fit: cover;
  object-position: 0% 80%;
}
.img-center-secondr {
  display: flex;
  flex-direction: row;
  width: 386px;
  height: 280px;
  object-fit: cover;
}
.img-right-secondr {
  display: flex;
  flex-direction: row;
  width: 356px;
  height: 280px;
  object-fit: cover;
  object-position: 0% 100%;
}

.img-left-thirdr {
  display: flex;
  flex-direction: row;
  width: 330px;
  height: 280px;
  object-fit: cover;
  object-position: 20% 0%;
}
.img-center-thirdr {
  display: flex;
  flex-direction: row;
  width: 386px;
  height: 280px;
  object-fit: cover;
}
.img-right-thirdr {
  display: flex;
  flex-direction: row;
  width: 356px;
  height: 280px;
  object-fit: cover;
  object-position: 0% 10%;
}

@media (max-width: 700px) {
  .hero {
    background-color: black;
    color: white;
    text-align: left;
    filter: grayscale(100%);
    background-size: 50%;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/213/original/IMG_0772_1.jpg?1688482603");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    letter-spacing: 7.2px;
    text-shadow: 10px 2px 4px rgb(9, 9, 9);
    background: transparent;
    font-size: 20px;
  }
  .hero h2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 4px 1px 1px rgb(9, 9, 9);
    background: transparent;
  }

  .hero p {
    font-family: var(--main-font-family);
    font-size: 14px;
    text-shadow: 2px 1px 1px rgb(9, 9, 9);
    background: transparent;
  }

  .primary-ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 33px;
  }
  .img-center-thirdr {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 250px;
    object-fit: cover;
  }
  .img-center-secondr {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 250px;
    object-fit: cover;
  }
  .img-center {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
}
